div#gadget{ font:11px arial,helvetica,sans-serif; }
div#gadget div.header{ background-color:#858585; color:#fff; font-weight:bold; font-size:12px; padding:5px; margin:5px; }
div#gadget div#railRight{ width:360px; float:right; border:1px solid #858585; margin:0 0 15px 15px; padding:10px; background-color:#eaeaea; }
div#gadget div#railRight div#friendLinks img{ border:0; margin:5px; width:50px; height:50px; }
div#gadget div#railRight form{ margin:10px 5px; }
div#gadget div#railRight form label{ font-weight:bold; }
div#gadget div#railRight form input{ width:300px; }
div#gadget div#updates{ margin-left:5px; margin-right:390px; }
div#gadget div#updates div.header{ margin:0; }